body {
	font-family: Montserrat;
	overflow-x: hidden;
}

.container {
}

.header {
	padding-top: 15px;
	padding-left: 10px;
}

.categories {
	float: right;
	width: 800px;
	padding-top: 10px;
}

.categories img:hover {
	color: transparent;
	-webkit-transform:scale(1.45);
} 

.nav a {
	text-decoration: none;
	color: black;
	font-family: montserrat;
	font-size: 20px;
}

.nav {
	height: 30px;
	width: 100%;
	background-color: #cfcfcf;
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 10px;
	word-spacing: 20px;
}

.nav a:hover {
	color: white
} 

.headers {
	margin-top: 20px;
	margin-left: 10px;
}

.headers img {
	float: left;
	margin-right: -40px;
}

h1 {
	color: #ee3624;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 4px;
}

.scrollbox {
	margin-top: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 5px;
	font:16px/26px Montserrat ;
	width: 250px;
	height: 500px;
	overflow: auto;
}

/* Scrollbar styles */	
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	border: 1px solid #0077ee;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #0077ee;  
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ee3624;  
}

.imgwrap {
	position: relative;
	width: 240px;
	height: 120px;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 10px;
}

.imgwrap img {
	width: 100%;
}

.imgdescription {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 119, 238, 0.72);
  	color: #fff;
  	visibility: hidden;
  	opacity: 0;
}

.imgwrap:hover .imgdescription {
  	visibility: visible;
  	opacity: 1;
}
